html,
body {
	height: 100%;
}
.signin{
	height: 100%;
}
.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}
.form-signin button{
	margin-bottom: 5px;
}
.form-signin .checkbox {
	font-weight: 400;
}
.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.registryInput{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.registryPassword{
	margin-bottom: -1px!important;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.navigation{
	width: 130px;
	height: 100vh;
	position: fixed;
	top: 0;
	background: #343a40;
	font-size: 11pt;
	text-align: center;
}
.navigation ul{
	list-style: none;
	margin: 0px 15px;
	padding: 0px;
	background: #343a40;
}
.navigation ul li{
	cursor: pointer;
	border-radius: 3px;
	margin: 3px 0px;
	transition: background 0.2s ease-in;
	transition: box-shadow 0.2s ease-in;
}
.navigation ul li:hover{
	background: #202428;
	box-shadow: inset 0px 0px 10px 0px #101214;
}
.navigation ul li a{
	display: block;
	text-decoration: none;
	padding: 3px 10px;
	width: 100%;
	color: #eee;
}
.navigation ul .active{
	background: #0052AB;
	box-shadow: inset 0px 0px 10px 0px #012A58;
}
.navigation ul .active:hover{
	background: #0052AB;
}
.navigation ul hr{
	margin: 10px -15px;
	background: #ccc;
}
.minMenu{
	background: url("https://png.icons8.com/color/30/000000/menu.png") center no-repeat;
	width: 35px;
	height:  35px;
	display: none;
	margin: 0 auto;
	cursor: pointer;
	border-radius: 3px;
	transition: background 0.2s linear;
}
.minMenu:hover{
	background: #252A2F url("https://png.icons8.com/color/30/000000/menu.png") center no-repeat;
	
}
.wrapper{
	padding-left: 130px;
	min-height: 100vh;
}
.header{
	background: #D6D8D9;
	padding: 5px 15px;
}
.header div:not(:first-child){
	text-align: right;
}
.headerTitle{
	font-size: 14pt;
}

.sidebar{
	width: 150px;
	background: #343a40;
	color: #eee;
}
.sidebarDate{
	cursor: pointer;
	border-bottom: 1px solid #676767;
	height: 140px;
	margin-top: 15px;
}
.sidebarDay{
	text-align: center;
	font: 50pt arial;
	margin-bottom: 10px;
}
.sidebarMonth{
	text-align: center;
	font: 16pt arial;
}
.sidebarBlock{
	margin: 0px 0;
	padding: 10px 10px;
	border-bottom: 1px solid #676767;
}
.minDate{
	font: 12pt arial;
	font-weight: bold;
	padding: 5px 0px;
	display: none;
}
.dateMonth{
	display: none;
}
.dateMonth div>div{
	margin-bottom: 2px;
	width: 10%;
	text-align: center;
	font-size: 8pt;
	color: #939292;
	font-weight: bold;
	font-family: Arial;
}
.dateMonth .currentMonth{
	color: #fff;
}
.dateMonth .weekend{
	color: #D6BCBC;
}
.dateMonth .currentDay{
	border: 1px solid #000;
	border-radius: 1px;
	box-shadow: 0 0 10px rgba(0,0,0,1);
}

@media (max-width: 992px) {
	.navigation{
		width: 50px;
	}
	.navigation ul{
		/*height: 100vh;*/
		width: 130px;
		border-radius: 4px;
		margin: 0;
		display: none;
	}
	.navigation ul hr{
		margin: 0;
	}
	.navigation .minMenu{
		display: block;
	}
	.wrapper{
		padding-left: 50px;
		padding-right: 0px;
	}
	.sidebar{
		width: 50px;
	}
}


/********* PAGINATION ***************/
.pagination a{
	margin: 3px;
}
.pagination .active{
	background: #004895!important;
	border: 1px solid #003267!important;
	pointer-events: none;
}


/******* ARTICLES *****************/
.sidebarWrapper{
	width: 150px;
}
.sidebarWrapper div{
	width: 100%;
}
.sidebar select{
	padding: 2px 6px;
}
.sidebar input{
	width: 100%;
}
.article{
	border-radius: 4px;
	border: 1px solid #A4A4A4;
	background: #EDEDED;
	margin: 5px;
	margin-bottom: 15px;

}
.article p{
	margin-bottom: 10px;
}
.articleHeader{
	background: #D9D9D9;
	padding: 5px 10px;
}
.articleTitle{
	font-size: 14pt;
	padding: 4px 10px;
}
.articleDate{

}
.articlePreview{
	padding: 5px 10px;
	overflow: hidden;
}
.articleFooter{
	border-top: 1px solid #aaa;
	padding: 5px 10px;
}
.headerMenu{
	padding: 4px;
	-webkit-flex-flow: row wrap;
}
.headerMenu select{
	padding: 3px 12px;
}
.articleForm input[type='text']{
	margin: 10px;
	display: block;
	padding: .375rem .75rem;
	font-size: .9rem;
	line-height: 1.6;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	font-weight: bold;
}
.articleForm input[type='text']::-moz-placeholder { color: #969BA0; font-weight: normal;}
.articleForm input[type='text']::-webkit-input-placeholder { color: #969BA0; font-weight: normal;}
.articleForm select{
	padding: 3px 12px;
}
.articleTitleShow{
	border-bottom: 1px solid #aaa;
	font-size: 20pt;
	padding: 4px 10px;
}
.articleTextShow{
	border-bottom: 1px solid #aaa;
	padding: 4px 10px;
}

@media (max-width: 992px) {
	.sidebar{
		position: relative;
	}
	.sidebarWrapper{
		position: absolute;
		right: 0px;
		/*height: 100vh;*/
		background: #343a40;
		width: 130px;
		border-radius: 4px;
		margin: 0;
		display: none;
	}
	.sidebar .minMenu{
		display: block;
	}
	.minDate{
		display: block;
	}
	.sidebarDate{
		display: none!important;
	}
}

/************** CATEGORIES ***************/
.newCategory{
	min-width: 300px;
	padding: 15px;
}
.listCategory{
	min-width: 400px;
	padding: 15px;
}
.listCategory form{
	border: 1px solid #A8A8A8;
	border-radius: 3px;
	margin-bottom: 5px;
	padding: 3px;
}
.listCategory form .btn{
	margin: 2px;
}
.listCategory form label{
	margin: 0px;
}


@media (max-width: 992px) {
	.newCategory{
		flex: 1;
	}
	.listCategory{
		

	}
}
/*****************************************/


/*************** TASKS **********************/
.tasksDay{
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}
.tasksDay .header{
	text-align: center;
	font-size:20pt;
	font-weight: bold;
	border-bottom: 1px solid #999;
}
.tasksDay .tasksDayContent{
	height: 300px;
	overflow: auto;
}
.tasksDay .task{
	border-radius: 3px;
	margin: 4px 2px;
	padding: 3px;
	font-size: 10pt;
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: #333;
}
.priority-0{
	border: 1px solid #D2D2D2;
}
.priority-1{
	background: #D2D2D2;
}
.priority-2{
	background: #7A98CF;
}
.priority-3{
	background: #EE6363;
}
.taskForm{
	padding: 10px;
}
.taskForm input[type='text']{
	margin-bottom: 10px;
	display: block;
	padding: .375rem .75rem;
	font-size: .9rem;
	line-height: 1.6;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	font-weight: bold;
}
.taskForm input[type='text']::-moz-placeholder { color: #969BA0; font-weight: normal;}
.taskForm input[type='text']::-webkit-input-placeholder { color: #969BA0; font-weight: normal;}
.taskForm select{
	margin-bottom: 10px;
}
.tasksBlock label{
	min-width: 150px;
}
.taskForm textarea {
  padding: 3px 6px;
  border: 1px solid #8c8f91;
  border-radius: 2px;
  font-size: 13px;
  line-height: 1.8;
  color: #282829;
  width: 100%;
  outline: none;
  resize: vertical;
  box-sizing: border-box;
}
.taskShow .title{
	font-size: 14pt;
	font-weight: bold;
	margin-bottom: 10px;
}
.taskShow .text{
	text-align: justify;
}

/*******************************************/


/***************** ОБЩИЕ КЛАССЫ ****************/
.center{
	text-align: center;
}
.margin10{
	margin: 10px;
}
.noWhiteSpace{
	white-space: nowrap;
}
.whiteSpacePreWrap{
	white-space: pre-wrap;
}
.width33{
	width: 33%;
}
.width100{
	width: 100%;
}
.widthMin100px{
	min-width: 200px;
}
.errorInput{
	border: 1px solid red!important;
}
.test{
	background: red;
	margin: 10px;
	height: 200px;
	min-width: 300px;
}