html,
body {
	height: 100%;
}
.signin{
	height: 100%;
}
.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}
.form-signin button{
	margin-bottom: 5px;
}
.form-signin .checkbox {
	font-weight: 400;
}
.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.registryInput{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.registryPassword{
	margin-bottom: -1px!important;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.navigation{
	width: 130px;
	height: 100vh;
	position: fixed;
	top: 0;
	background: #343a40;
	font-size: 11pt;
	text-align: center;
}
.navigation ul{
	list-style: none;
	margin: 0px 15px;
	padding: 0px;

	background: #343a40;
}
.navigation ul li{
	cursor: pointer;
	border-radius: 3px;
	margin: 3px 0px;
	transition: background 0.2s ease-in;
	transition: box-shadow 0.2s ease-in;
}
.navigation ul li:hover{
	background: #202428;
	box-shadow: inset 0px 0px 10px 0px #101214;
}
.navigation ul li a{
	display: block;
	text-decoration: none;
	padding: 3px 10px;
	width: 100%;
	color: #eee;
}
.navigation ul .active{
	background: #0052AB;
	box-shadow: inset 0px 0px 10px 0px #012A58;
}
.navigation ul .active:hover{
	background: #0052AB;
}
.navigation ul hr{
	margin: 10px -15px;
	background: #ccc;
}
.minMenu{
	background: url("https://png.icons8.com/color/30/000000/menu.png") center no-repeat;
	width: 35px;
	height:  35px;
	display: none;
	margin: 0 auto;
	cursor: pointer;
	border-radius: 3px;
	transition: background 0.2s linear;
}
.minMenu:hover{
	background: #252A2F url("https://png.icons8.com/color/30/000000/menu.png") center no-repeat;
	
}
.wrapper{
	padding-left: 130px;
	padding-right: 150px;
	min-height: 100vh;
}
.header{
	background: #D6D8D9;
	padding: 5px 15px;

}
.header div:not(:first-child){
	text-align: right;
}
.headerTitle{
	font-size: 14pt;
}

.sidebar{
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 150px;
	background: #343a40;
	color: #eee;
}
.sidebarBlock{
	margin: 0 auto;
}
.sidebarDate{
	cursor: pointer;
}
.sidebarDay{
	text-align: center;
	font: 50pt arial;
	margin-top: 15px;
}
.sidebarMonth{
	text-align: center;
	font: 16pt arial;
	margin-bottom: 15px;
}

@media (max-width: 992px) {
	.navigation{
		width: 50px;
	}
	.navigation ul{
		height: 100vh;
		width: 130px;
		border-radius: 4px;
		margin: 0;
		display: none;
	}
	.navigation ul hr{
		margin: 0;
	}
	.navigation .minMenu{
		display: block;
	}
	.wrapper{
		padding-left: 50px;
		padding-right: 0px;
	}
	.sidebar{
		display: none;
	}
}


/********* PAGINATION ***************/
.pagination a{
	margin: 3px;
}
.pagination .active{
	background: #004895!important;
	border: 1px solid #003267!important;
	pointer-events: none;
}


/******* ARTICLES *****************/
.newArticle .btn{
	padding: 0 8px;
}
.article{
	border-radius: 4px;
	border: 1px solid #A4A4A4;
	background: #EDEDED;
	margin: 5px;

}
.articleHeader{
	background: #D9D9D9;
	padding: 5px 10px;
}
.articleTitle{

}
.articleDate{

}
.articlePreview{
	padding: 5px 10px;
}
.articleFooter{
	border-top: 1px solid #aaa;
	padding: 5px 10px;
}
.headerMenu{
	padding: 4px;
}
.headerMenu select{
	padding: 3px 12px;
}
.articleForm input[type='text']{
	margin: 10px;
	display: block;
	padding: .375rem .75rem;
	font-size: .9rem;
	line-height: 1.6;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	font-weight: bold;
}
.articleForm input[type='text']::-moz-placeholder { color: #969BA0; font-weight: normal;}
.articleForm input[type='text']::-webkit-input-placeholder { color: #969BA0; font-weight: normal;}
.articleForm select{
	padding: 3px 12px;
}
.articleTitle{
	border-bottom: 1px solid #aaa;
	font-size: 20pt;
	padding: 4px 10px;
}
.articleText{
	border-bottom: 1px solid #aaa;
	padding: 4px 10px;
}

/***************** ОБЩИЕ КЛАССЫ ****************/
.center{
	text-align: center;
}
.margin10{
	margin: 10px;
}
.noWhiteSpace{
	white-space: nowrap;
}